@font-face { font-family: Nexa-b; src: url('NexaBold.otf'); } 
@font-face { font-family: Nexa; font-weight: bold; src: url('NexaLight.otf');}

:root {
	background-image: url(bg_opleiding.jpg);
	-webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
}

ol {
	list-style-type: none;
}

ul {
	list-style-type: none;
}

li {
	padding: 0.5em;
	border-radius: 15px;
}

a {
	color: white;
	text-decoration: none;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

a:visited {
	color: white;
}

a:hover {
	color: red;
}

section > p > a:visited {
	color: black;
}

section > p > a:visited:hover {
	color: red;
}

body > nav {
	width: 60em;
	margin-left: auto;
	margin-right: auto;
}

article {
	margin-left: auto;
	margin-right: auto;
	border-top: 2px solid #333333;
	border-left: 2px solid #333333;
	border-right: 2px solid #333333;
	padding: 3em;
	width: 60em;
	border-radius: 5px;
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 32%, rgba(239,239,239,1) 76%, rgba(232,232,232,0.17) 96%, rgba(255,255,255,0.04) 99%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(32%,rgba(255,255,255,1)), color-stop(76%,rgba(239,239,239,1)), color-stop(96%,rgba(232,232,232,0.17)), color-stop(99%,rgba(255,255,255,0.04)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 32%,rgba(239,239,239,1) 76%,rgba(232,232,232,0.17) 96%,rgba(255,255,255,0.04) 99%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 32%,rgba(239,239,239,1) 76%,rgba(232,232,232,0.17) 96%,rgba(255,255,255,0.04) 99%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 32%,rgba(239,239,239,1) 76%,rgba(232,232,232,0.17) 96%,rgba(255,255,255,0.04) 99%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 32%,rgba(239,239,239,1) 76%,rgba(232,232,232,0.17) 96%,rgba(255,255,255,0.04) 99%,rgba(255,255,255,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

body > article > section > header > h1:first-letter {
	font-family: Nexa;
	color: #333333;
	font-size: 5em;
}

body > article > header > h1 {
	font-family: Nexa;
	color: #333333;
	font-size: 5em;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #333333;
	border-radius: 15px;
	padding: 0.5em;
	width: 5em;
	-webkit-transition: all 2s ease;
	-moz-transition: all 2s ease;
	-ms-transition: all 2s ease;
	-o-transition: all 2s ease;
	transition: all 2s ease;
}

body > article > header > h1:hover {
	color: red;
}

p:nth-child(1n) {
	-webkit-transition: all 2s ease;
	-moz-transition: all 2s ease;
	-ms-transition: all 2s ease;
	-o-transition: all 2s ease;
	transition: all 2s ease;
}

p:nth-child(2n):hover {
	color: red;
}

p:first-line {
	font-family: Nexa-b;
	color: #333333;
}

img {
	border: 2px solid #333333;
	border-radius: 15px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

img:hover {
	/* source: http://robertnyman.com/css3/css-transitions/css-transitions-rotation.html
	Firefox */
	-moz-transform: scale(2) rotate(30deg) translate(50px);
	/* WebKit */
	-webkit-transform: scale(1.2) rotate(30deg) translate(50px);
	/* Opera */
	-o-transform: scale(2) rotate(30deg) translate(50px);
	/* Standard */
	transform: scale(2) rotate(30deg) translate(50px);
}

video {
	display: block;
	width: 25em;
	margin-left: auto;
	margin-right: auto;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

video:hover {
	margin-top: 10em;
	margin-bottom: 10em;
}

li:nth-child(1n) {
	background-color: black;
}

li:nth-child(2n) {
	background-color: #333333;
}